$primary_bg : #5587A2;
$primary_color : white;

// mixins 

@mixin navbar-animation($time) {
    transition: all $time ease ;
    -webkit-transition: all $time ease ;
    -moz-transition : all $time ease;
}

// Navbar variable 

$navBarW : 250px;
$navBarH : 100vh;

body {
    background-color: $primary_bg;
    font-family: 'Noto Sans', sans-serif;
    color: $primary_color;
}

.navbar{
    background-color: $primary_color;
    width: $navBarW;
    height: $navBarH;
    position: absolute;
    top: 0;
    @include navbar-animation(.25s);

    li {

        padding: 15px 10px;

        a {
            color: $primary_bg;
            text-decoration: none;
            list-style-type: none;
        }
    }

    &.false{
        right: 0;    
    }

    &.true{
        right: -250px;
    }
}

i {
    font-size: 30px !important;
    position: absolute;
    right: 50px;
    @include navbar-animation(.25s);

    &.true{
        right: 50px;
    }

    &.false{
        right: 260px;
    }
}
